:root{
    --normal-text-color: #707070;
    --primary-color: #EC1E26;
    --secondary-color: #822659
}

*,html,body{
    padding: 0;
    margin: 0;
}

p{
    color: var(--normal-text-color);
}

.App{
    margin: 0 !important;
    padding: 0 !important;
    text-align: center;
    font-family: 'Nunito',sans-serif;
}

.background-css{
    background-image: linear-gradient(to bottom, #f3f3f3, #fefefe 15%, #fff) !important;
}

.card{
    /* box-shadow: 0 0 28px 7px rgb(101 104 120 / 25%) !important; */
    box-shadow: 0 0 23px 0 rgb(101 104 120 / 32%);
}


:root{
    --sub-heading: 1.5em;
 }

.title-h{  
    text-align: center;
    font-family: 'Nunito',sans-serif;
    font-weight: bolder;
    color: var(--primary-color);
    font-size: 2.4em;
    margin-top: 0.7em !important;   
}

.title-s{
    text-align: left;
    font-family: 'Nunito',sans-serif;
    font-weight: bolder;
    color: var(--secondary-color);
    font-size: 1.5em;
    margin-top: 0.7em !important;  
}
